#resposta{
    color: red;
}

body{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

nav{
    background-color: #fd7e14;
    color: white
  }

  a{
    color: white;
  }
  
  IMG.displayed{
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
